/*///////////*/
/* VARIABLES */
/*///////////*/

:root {
    --keypad-height: 380px;
    --main-background: #1e1e2e;
}

/*///////*/
/* FONTS */
/*///////*/

@font-face {
    font-family: Uiua386;
    src: url("Uiua386.ttf");
}

* {
    font-family: Uiua386;
    -webkit-user-select: none;  /* Safari all versions */
    -moz-user-select: none;     /* Firefox all versions */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Standard syntax */
    touch-action: manipulation;
    -webkit-touch-callout: none;
}

/*//////////////*/
/* ELEMENT MODS */
/*//////////////*/
html {
    overflow: hidden;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    overscroll-behavior-y: none;
}

img {
    display: block;
}

button {
    background-color: #45475a;
    color: #cdd6f4;
    border: none;
    padding: 5px;
}

button:hover {
    background-color: #313244;
}

/*/////////*/
/* CLASSES */
/*/////////*/

.app {
    background-color: #1e1e2e;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.top-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: env(safe-area-inset-top);
    direction: rtl;
    /* border: 1px solid #cba6f7; */
}

.code-view-zone {
    justify-content: flex-end;
    background-color: #1e1e2e;
    color: #cdd6f4;
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    padding-bottom: calc(var(--keypad-height) + env(safe-area-inset-bottom) + 20px);
}

.input-zone {
    background-color: #45475a;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--keypad-height);
    padding-bottom: env(safe-area-inset-top);
}

.input-bar {
    display: flex;
    /*background-color: #585b70; <- invisible rn */ 
    border: 1px solid #cba6f7;
}

.text-box {
    width: 100%;
    background-color: #2d3c4a; /*#7f849c;*/
    border: none;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 3px;
    margin-right: 3px;
    caret-color: #89dceb;
    color: #cdd6f4;
}


.special-buttons {
    user-select: none;          /* Standard syntax */
    border-top: solid;
    border-bottom: solid;
    border-color: #181825;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; /* flex-end;*/
    align-items: center;
    gap: 0.3rem;
}
.special-button {
    /* TODO: Decide on whether buttons should have a border */
    /*border: solid;
    border-width: 2px;
    border-color: #1e1e2e;
    background-color: #313244;*/
}


/* TODO: Compute this '387' instead of eyeballing it */
/* This selector fixes a styling issue where, on screen sizes aroudn 380px,
   the special buttons form two non-equally filled rows (one of eight elements,
   the other with one) */
@media (max-width: 387px) { /* Example breakpoint */
  .special-buttons .special-button {
    flex-basis: 18vw;
  }
}


.input-grid-buttons {
    display: grid;
    /* Change if grid dimension changes */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.uiua-char-input {
    aspect-ratio: 1 / 1;
    font-size: 1.4rem;
    font-weight: bold;
}

.uiua-radial-char-input {
    background-color: rgba(0, 0, 0, 0);
    pointer-events: auto;
    z-index: 4;
}

.user-input {
    font-size: 1.1rem;
    margin-left: 2rem;
    white-space: pre-wrap;
}
.user-result {
    margin-left: 0.5rem;
    white-space: pre-wrap;
}

.run-button {
}
/* uiuauiuiauiauiuaiua */

.monadic-modifier {
    color: #f0c36f;
}
.dyadic-modifier {
    color: #cc6be9;
}
.noadic-function {
    color: #ed5e6a;
}
.monadic-function {
    color: #95d16a;
}
.dyadic-function {
    color: #54b0fc;
}
.stack-function {
    color: #d1daec;
}
.constant-value {
    color: #f08050
}
.string-literal {
    color: #20f9fc;
}
.comment {
    color: #888;
}
.strand {
    color: #fff8;
}
.prim-trans {
    background-image: linear-gradient(180deg, #5BCEFA 34%, #F5A9B8 34%, #F5A9B8 45%, #FFFFFF 45%, #FFFFFF 56%, #F5A9B8 56%, #F5A9B8 67%, #5BCEFA 67%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.prim-both {
    background-image: linear-gradient(180deg, #D60270 45%, #9B4F96 45%, #9B4F96 64%, #0038A8 64%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.radial-selector {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100vw/3);
    height: calc(100vw/3);
    border-radius: 50%;
    background-color: transparent;
    /* background-color: gray; */
    pointer-events: none;
}

.radial-selector::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: conic-gradient(purple 0% 12.5%, green 12.5% 37.5%, blue 37.5% 62.5%, yellow 62.5% 87.5%, purple 87.5% 100%); */
    background: conic-gradient(gray 0% 12.5%, white 12.5% 37.5%, gray 37.5% 62.5%, white 62.5% 87.5%, gray 87.5% 100%);
    /* background: gray; */
    border-radius: 50%;
    z-index: 1;
}

/* .radial-selector::after { */
/*     content: ''; */
/*     position: absolute; */
/*     top: 4vw; */
/*     left: 4vw; */
/*     right: 4vw; */
/*     bottom: 4vw; */
/*     background: #45475a; */
/*     border-radius: 50%; */
/*     z-index: 3; */
/* } */
